.SelectBox{
    border-radius: 20px;
    border:solid 2px #9e9e9e;
    color:#626262;
    margin-top:2px;
    margin-bottom:2px;
    width: 25.8%;
    text-align: center;
}
.SelectBox:focus{
    outline: none;
}

.OptionBox{
    color:#626262;
    text-align: center;
}